body {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-image: url(./back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 18px;
}

.puzzle p {
    margin-right: 150px;
    font-size: 30px;
}

.container {
    display: flex;
    align-items: center;
    width:auto;
    background-color: white;
    padding: 20px;
    margin: 20px 0;
}
.buttons{
    display: flex;
    justify-content: center;
}
.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
        "item1 item2"
        "item4 item3"
        "item5 item6"
        "item8 item7"
        "item9 item10"; 
}


.item1 { 
    grid-area: item1; 
}
.item2 { 
    grid-area: item2;
}
.item3 {
     grid-area: item3; 
    }
.item4 { 
    grid-area: item4; 
    padding: 20px;
}
.item5 { 
    grid-area: item5; 
}
.item6 { 
    grid-area: item6; 
}
.item7 { 
    grid-area: item7; 
}
.item8 { 
    grid-area: item8;
}
.item9 { 
    grid-area: item9; 
}
.item10 { 
    grid-area: item10; 
}

.section1 img {
    width:480px;
    height:500px;
}
.item2, .item4, .item6, .item8, .item10 {
    padding: 20px;
    text-align: left;
    width:420px;
    height:200px;
}

.item2 h1, .item4 h1, .item6 h1, .item8 h1, .item10 h1 {
    text-align: center;
    margin-bottom: 20px;
}
.item2 a{
    text-decoration: none;
    color: blue;
}
.item2 p, .item4 p, .item6 p, .item8 p, .item10 p {
    margin-bottom: 15px;
}
nav a:hover{
    background-color: white;
    color:black;
    text-align: center;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
}
.buttons #button1:hover{
    background-color: blue!important;
    color: white !important;
    border:1px solid blue;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px grey;
}
.buttons #button2:hover{
    background-color: white!important;
    color: blue !important;
    border:1px solid blue;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px grey;
}
.buttons #button3:hover{
    background-color:blue!important;
    color: white !important;
    border:1px solid blue;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px grey;
}
.buttons #button4:hover{
    background-color: white!important;
    color: blue!important;
    border:1px solid blue;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px grey;
}
.buttons #button5:hover{
    background-color: white!important;
    color:teal !important;
    border:1px solid blue;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px grey;
}
form #button6:hover{
    background-color: gray!important;
    color:black !important;
    border:1px solid blue;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px black;
}

.item1:hover img,
.item3:hover img,
.item5:hover img,
.item7:hover img,
.item9:hover img {
    box-shadow: 10px 10px 5px grey !important;
}
.puzzle p:hover{
    transform:scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.puzzle p:hover::first-letter {
    color:blue;
    transform: scale(2.4);
}
@media screen and (max-width:768px){
    .container{
        width:auto;
    }
    .section1 {
        grid-template-columns: 1fr;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8"
            "item9"
            "item10";
    }
    .section1 img {
        width: 100%;
        height: auto;
    }
    .section1 img:hover {
        box-shadow: 5px 5px 15px grey !important;
    }
    .item2, .item4, .item6, .item8, .item10 {
        width: 100%;
        height: auto;
        padding: 15px;
    }
    .item2 h1, .item4 h1, .item6 h1, .item8 h1, .item10 h1 {
        font-size: 20px;
    }
}
    @media screen and (max-width: 480px) {
        body{
            display: flex;
            flex-direction:column;
            align-items: center;
        }
        .head {
            display: flex;
            flex-direction:row;
            align-items: center;
            justify-content: center;
            padding: 10px;
            width: 100%;
        }
        .header{
            display:flex;
            align-items: center;
            flex-direction:column;
        }
    
        .puzzle p {
            padding-left: 50%;
            text-align: center;
        }
        .nav nav a {
            margin-right: 2px;
            font-size: 10px;
            padding-left:10px;
        }
    
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width:auto;
        }
        .section1 {
            grid-template-columns: 1fr;
            grid-template-areas:
                "item1"
                "item2"
                "item3"
                "item4"
                "item5"
                "item6"
                "item7"
                "item8"
                "item9"
                "item10";
        }
        .section1 img {
            width: 100%;
            height: auto;
        }
        .item2, .item4, .item6, .item8, .item10 {
            width: 100%;
            height: auto;
            padding: 15px;
        }
        .item2 h1, .item4 h1, .item6 h1, .item8 h1, .item10 h1 {
            font-size: 20px;
        }
    }